/* You can add global styles to this file, and also import other style files */

html {
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(90, 89, 89);
}

input {
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    outline: none;
    border: none;
    padding: 5px 10px;
}